<h1>Upcoming Bills</h1>
{{#link-to 'bills-page'}}<button>Show Recent Bills</button>{{/link-to}}
<h3>House Bills</h3>
<ul>
  {{#each model.house as |bill|}}
  <li>{{#link-to 'bills' bill.bill_id}}{{bill.bill_id}} scheduled for: {{bill.legislative_day}}{{/link-to}}</li>
  {{/each}}
</ul>
<h3>Senate Bills</h3>
<ul>
  {{#each model.senate as |bill|}}
  <li>{{#link-to 'bills' bill.bill_id}}{{bill.bill_id}} scheduled for: {{bill.legislative_day}}{{/link-to}}</li>
  {{/each}}
</ul>
